<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/img/gw.jpg" alt="Ardan Aras" class="img-thumbnail rounded-circle" width="200" />
            <h1 class="display-4">Muhammad Akhtar Nurilham</h1>
            <p class="lead">Dapodik | Presiden Indonesia</p>
        </div>
    </div>
</div>