<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/img/popkot2025.jpeg" alt="Ardan Aras" class="img-thumbnail rounded-circle" width="200" />
            <h1 class="display-4">Ali Muhammad Sugiharto</h1>
            <p class="lead">Dapodik | Sport Lover</p>
        </div>
    </div>
</div>